@import "_mixins";
@import "_variables";
@import "reset";

// REAL CSS

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
  color: white;
}

.main-app-container {
  overflow-x: hidden;
  background-color: $primary;
  min-width: 100vw;
  min-height: 100vh;
}

// NAVBAR

.nav {
  width: 100%;
  background-color: #999;
  position: fixed;
  top: 0;
  height: 5.5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &__sections {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

// INPUT

.input {
  border-style: none;
  border-bottom: 1px solid white;
}

// SECTION QUESTIONS

.section-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 75%;
}

.section-question {
  font-size: 25px;
  font-weight: 400;
}

.section-input {
  width: 90%;
  height: 35px;
  margin: 20px auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  &::placeholder {
    color: white;
  }
}

.option-value {
  color: black;
}

// FOOTER

.footer {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  &__text {
    font-size: 10px;
    font-weight: 200;
  }
}

@media (min-width: 1024px) {
  .nav {
    width: 20px;
    height: 20px;
    top: 10px;
    left: 10px;
    &__sections {
      flex-direction: column;
      position: absolute;
      height: 100vh;
      width: 50px;
      left: 0px;
    }
  }
  @keyframes middleBurger {
    0% {
      opacity: 1;
      margin: 0;
    }
    50% {
      opacity: 0.3;
      margin-left: 100px;
    }
    100% {
      margin-right: 200px;
      opacity: 0;
    }
  }
  @keyframes middleBurgerNa {
    0% {
      opacity: 0;
      margin-right: 200px;
    }
    50% {
      opacity: 0.5;
      margin-right: 100px;
    }
    100% {
      margin-right: 0px;
      opacity: 1;
    }
  }
}
